{{#block "hero"}} {{/block}}

{{> components/common/modal}}

<div class="main-body clearfix sidebar--{{theme_settings.settings_sidebar}}">
	<div class="container">
		{{#block "page"}} {{/block}}
    </div>
    <div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-4"> 
				{{#block "block-mainleft"}} {{/block}}
			</div>
			<div class="col-lg-9 col-md-8 col-sm-8"> 
				{{#block "block-mainright"}} {{/block}}
			</div>
		</div>
    </div>
    <div class="block-main-full">
	    <div class="container">
			{{#block "block-main-full"}} {{/block}}
	    </div>
	</div>
	<div class="container">
		{{#block "block-mainbottom"}} {{/block}}
    </div>

</div>
