


{{#partial "block-mainleft"}}
	{{> components/sbthemes/sections/section section=theme_settings.home_section1 }}
{{/partial}}

{{#partial "block-mainright"}}
	{{> components/sbthemes/sections/section section=theme_settings.home_section2 }}
	{{> components/sbthemes/sections/section section=theme_settings.home_section3 }}
	{{> components/sbthemes/sections/section section=theme_settings.home_section4 }}
	
{{/partial}}

{{#partial "block-mainbottom"}}
	{{> components/sbthemes/sections/section section=theme_settings.home_section5 }}
	{{> components/sbthemes/sections/section section=theme_settings.home_section6 }}
	{{> components/sbthemes/sections/section section=theme_settings.home_section7 }}
	{{> components/sbthemes/sections/section section=theme_settings.home_section8 }}
{{/partial}}

