
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section1 }} 
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section2 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section3 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section4 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section5 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section6 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section7 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section8 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section9 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section10 }}
{{> components/sbthemes/sections/section-home4 section=theme_settings.home_section11 }}
