{{!--
Arguments: Module banner
	- status    	(boolean):is display state of add on
    - prefix 		(string): Prefixes are added to the banner 
    - showContent   (boolean): is display show content of banner
    - limitation    (number): The number of banner item to display.
    - display_mode  (string) : Support format  (horizontal , vertical)
    - class_sfx     (string) : Class suffix for module. 
	
Arguments:Module sb_supper_category & so_category_slider
    - status    	(boolean):is display state of add on
	- moduleId (number): section instance index number
    - limit_subcategory  (number): The number of sub category item to display.
    - showBanner   (boolean): is display show  banner
    - class_sfx (string) : Class suffix for module. 

--}}

{{#if   section '==' 'section1'}}   
    {{> components/sbthemes/module/sb_banner/banner
        status=true  prefix="home2Banner1"  showContent=false  limitation=3  display_mode="horizontal"  class_sfx=""
    }}
{{else if   section '==' 'section2'}}       
    {{> components/sbthemes/module/sb_megamenu/default status=true  display_mode="vertical" limit_item=16 }}          

{{else if   section '==' 'section3'}}  
    {{> components/sbthemes/common/subscription-form2}}
     
{{else if   section '==' 'section4'}}   
    {{> components/sbthemes/module/sb_deals/default2  status=true  moduleId='2' class_sfx="sb-deals "}}
    
{{else if   section '==' 'section5'}}   
    {{> components/sbthemes/module/sb_banner/banner
        status=true  prefix="home2Banner2"  showContent=false  limitation=1  display_mode="horizontal"  class_sfx=""
    }}
    
                                        
{{else if   section '==' 'section6'}} 
    {{> components/sbthemes/module/sb_listing_tabs/default status=true moduleId=1 banner="no" class_sfx="listingtabs1"}}  


{{else if   section '==' 'section7'}}   
    {{> components/sbthemes/module/sb_banner/banner
        status=true  prefix="home2Banner3"  showContent=false  limitation=2  display_mode="horizontal"  class_sfx=""
    }}
                                      
{{else if   section '==' 'section8'}}   
    {{> components/sbthemes/module/sb_listing_tabs/home2  status=true moduleId=2  banner="no" class_sfx="listingtabs2"}}  

{{else if   section '==' 'section9'}}   
    {{> components/sbthemes/module/sb_testimonial/default status=true prefix="sb_testimonial" limitation=3 }}
    
    {{> components/sbthemes/module/sb_latest_blog/default2 
        status=true blogs= blog.recent_posts   show_desc="yes"  hide_heading=false
    }}
    
{{else if   section '==' 'section10'}}  
    {{> components/sbthemes/module/sb_brand/default status=true prefix="static_brand" limitation=7 }}

{{/if}}
