{{!--
===============================================================================
Show Section Slideshow - Home 01
===============================================================================
--}}
<div class="section-slideshow">
	<div class="container" >
		<div class="row">
			
			<div class="col-xl-9 col-sm-12  offset-xl-3 block-slideshow">
				<div class="row">
					<!--<div class="col-lg-3 col-md-12 col-sm-12">

					</div>-->
					<div class="col-lg-12 col-md-12 col-sm-12  col_qavo block-slideshow__left">
						 {{> components/sbthemes/carousel}}
					</div>
					
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12  col_jztu block-slideshow__bottom">
					
					 {{> components/sbthemes/module/sb_banner/banner
						status=true  prefix="home1Banner1"  showContent=false  limitation=3  display_mode="horizontal"  class_sfx=""
					}}
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
