// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
   margin-top:30px;
   background: #111;
    color: #7d7d7d;
}
.footer-top{
    background: url('#{$imgPath}vendor/bg-newsltter5.jpg');
    padding: 58px 0 ;
    
}
.footer-bottom{
    background-color: $background;
    text-align: center;
    padding: 22px 0;
    color: white;
    a{
        @include linkWhite()
        &:hover{color: $color-textLink;}
    }
}
.footer-center{ 
    .footer-center__first{padding: 50px 0 20px;}
}


.footer-info-col--social {
    
        @include breakpoint(medium) {
        flex-basis: unset;
    }
    .media{margin-bottom:15px;}
    > p{padding-right: 30px;}
}



// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    @include rem(font-size, 12.5px);
    font-weight: bold;
    border: none;
    color: white;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}


.footer-info-list {
    list-style: none;
    margin: 0 0 30px;
    li{padding: 5px 0;
        a {
            display:inline-block;
            @include linkColor(#7d7d7d,$linkColor);
            transition: all 0.3s ease 0s;
            
            &:before{
                content: if-ltr('\f105', '\f104');
                font-family: $FontAwesome;
                font-size: 14px;
                margin-#{$right}: 8px;
                @include if-rtl {
                    float: right;
                }
            }

            &:hover{padding-#{$left}: 10px;}
        }
    }
    
}

.footer-info{
    address{padding-#{$left}: 40px;line-height: 25px; min-height: 32px;
        > i{position: absolute;z-index: 2; transform: translateX(#{if-ltr('-40px','40px')});
            width: 30px;
            height: 30px;
            background-color: #9d9d9d;
            color: #fff;
            line-height: 31px;
            font-size: 16px;
            text-align: center;
            float: $left;
            border-radius: 3px;
            margin-#{$right}: 10px;
        }
    }
}
.footer-socials {
    .footer-info-heading{margin: 10px 0;}
    .socialLinks{padding: 0 15px;
        .socialLinks-item{
            width: 34px;
            height: 34px;
            text-align: center;
            line-height: 34px;
            background-color: $white;
            border-radius: 50%;
            margin-bottom: 0;
            transition: box-shadow 0.2s  ease-in-out;
            margin-#{$right}:10px;
            
            &:hover{background-color:$color-primary; box-shadow: 0 0 0 4px rgba($background, 0.4) ;
                svg{fill: $white ;}
            }
            
            .icon{width: 1.3rem; height: 1.3rem;}
        }
    }
}
 
.footer-newsletter{ width: 100%;
    .form{margin: 0;}
    .form-field{margin: 0; padding: 0 25px;}
    .input-group {width:500px; margin:0 auto;
        
        .form-control,.button--primary{margin-bottom:0; min-height: 42px;}
        .form-control{border-radius: corner-values(20px 0 0 20px);text-indent: 15px;}
        .button--primary{border-radius: corner-values(0 20px 20px 0); background: $color-primary; border-color: $color-primary;
            &:hover{background-color: darken($color-primary,15%); border-color: darken($color-primary,15%)};

        }
    }
    .button--primary{font-weight: 600;text-transform: uppercase; min-width: 120px;}
}

.footer-copyright {
    > .powered-by {
        font-size: fontSize("base");
        margin: 0;
    }

   
}

.custom_categories{
    border-bottom: 1px solid rgba(208, 208, 208, 0.15);
    text-align: center;
    width: 100%;
    clear: both;
    padding: 0px 0 40px 0; margin-bottom: 30px;
    .header-logo{margin-bottom: 30px;}
    
}
.footer-payment-icons {
    height: remCalc(40);
    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(35);
    }

    svg {
        fill: #f4f4f4;
        margin:0 10px;
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}

.expander {display: none;}
@media only screen and (max-width: 992px){
    .collapsed-block{
        .footer-info-heading{border-bottom: 1px solid #252525; color: $gray-light;   padding-bottom: 15px; margin-bottom: 15px;}
        .expander {display: inline-block; float: $right;color: #adadad; font-size: 22px;
            
        }
        .footer-info-heading.open .fa:before{content: "\f139";}
        .footer-info-list{display: none;}
    }
}
