<div class="module banner_today" >
    <div class="modtitle text-center">
        <h3>{{lang 'simolux.what_today.heading' }}</h3>
        <p class="subtitle ">{{lang 'simolux.what_today.subheading' }}</p>
    </div>
    <div class="modcontent">
    	<div class="row">
    		<div class="col-md-4 col-sm-4">
				<div class="banners" >
				    <div class="banner-media">
					    <a href="{{lang 'simolux.what_today.banner_1.url'}}" title="{{lang 'simolux.what_today.banner_1.title'}}">
					      <img src="{{lang 'simolux.what_today.banner_1.image'}}" alt="">
					    </a>
				    </div>
				    <div class="banner-info">
	                  	<h4 class="banner-info-title">{{lang 'simolux.what_today.banner_1.title'}}</h4>
	                  	<p class="banner-info-text">{{lang 'simolux.what_today.banner_1.content'}}</p>
	                </div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="banners">
				    <div class="banner-media">
				    	<a href="{{lang 'simolux.what_today.banner_2.url'}}" title="{{lang 'simolux.what_today.banner_2.title'}}">
				      		<img src="{{lang 'simolux.what_today.banner_2.image'}}" alt="">
				      	</a>
				    </div>
				    <div class="banner-info  form-group">
	                  <h4 class="banner-info-title">{{lang 'simolux.what_today.banner_2.title'}}</h4>
	                  <p class="banner-info-text">{{lang 'simolux.what_today.banner_2.content'}}</p>
	                </div>
				</div>
				<div class="banners">
				    <div class="banner-media">
				    	<a href="{{lang 'simolux.what_today.banner_3.url'}}" title="{{lang 'simolux.what_today.banner_3.title'}}">
				      		<img src="{{lang 'simolux.what_today.banner_3.image'}}" alt="">
				      	</a>
				    </div>
				    <div class="banner-info ">
	                  <h4 class="banner-info-title">{{lang 'simolux.what_today.banner_3.title'}}</h4>
	                  <p class="banner-info-text">{{lang 'simolux.what_today.banner_3.content'}}</p>
	                </div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="banners">
					    <div class="banner-media">
					    	<a href="{{lang 'simolux.what_today.banner_4.url'}}" title="{{lang 'simolux.what_today.banner_4.title'}}">
					      		<img src="{{lang 'simolux.what_today.banner_4.image'}}" alt="">
					      	</a>
					    </div>
					    <div class="banner-info">
		                  <h4 class="banner-info-title">{{lang 'simolux.what_today.banner_4.title'}}</h4>
		                  <p class="banner-info-text">{{lang 'simolux.what_today.banner_4.content'}}</p>
		                </div>
					    
					 
				</div>
			</div>
				
        </div>
    </div>
   
</div>
