<div class="module static-brand" >
    <div class="modcontent">
    	<div class="static-brand--carousel"
    		data-slick='{
		        "dots": false,
		        "infinite": true,
		        "mobileFirst": true,
		        "slidesToShow": 2,
		        "slidesToScroll": 2,
		        "responsive": [
		            {
		                "breakpoint": 1260,
		                "settings": {
		                    "slidesToScroll": 3,
		                    "slidesToShow": 6
		                }
		            },
		            {
		                "breakpoint": 800,
		                "settings": {
		                    "slidesToScroll": 3,
		                    "slidesToShow": 5
		                }
		            },
		            {
		                "breakpoint": 550,
		                "settings": {
		                    "slidesToScroll": 3,
		                    "slidesToShow": 3
		                }
		            }
		        ]
		    }'
    	>
    		
				<div class="static-brand--slide"><a href="{{lang 'simolux.static_brand.brand_item1.url'  }}"><img src="{{lang 'simolux.static_brand.brand_item1.image'}}" alt="" /> </a></div>
				<div class="static-brand--slide"><a href="{{lang 'simolux.static_brand.brand_item2.url'}}"><img src="{{lang 'simolux.static_brand.brand_item2.image'}}" alt="" /> </a></div>
				<div class="static-brand--slide"><a href="{{lang 'simolux.static_brand.brand_item3.url'}}"><img src="{{lang 'simolux.static_brand.brand_item3.image'}}" alt="" /> </a></div>
				<div class="static-brand--slide"><a href="{{lang 'simolux.static_brand.brand_item4.url'}}"><img src="{{lang 'simolux.static_brand.brand_item4.image'}}" alt="" /> </a></div>
				<div class="static-brand--slide"><a href="{{lang 'simolux.static_brand.brand_item5.url'}}"><img src="{{lang 'simolux.static_brand.brand_item5.image'}}" alt="" /> </a></div>
				<div class="static-brand--slide"><a href="{{lang 'simolux.static_brand.brand_item6.url'}}"><img src="{{lang 'simolux.static_brand.brand_item6.image'}}" alt="" /> </a></div>
			
		</div>
    </div>
   
</div>
